/* ===========================================
   CSS LAND - LEARN CSS FUNDAMENTALS
   Complete the TODOs below to style the page!
   =========================================== */

/* TODO 1: Style the body element
   - Set background-color to #f5f5f5
   - Set padding to 20px
*/

body {
   background-color: #e3d4d4;
   padding:20px;
}

/* ===========================================
   TODO 2: COLOR PROPERTIES
   Practice different ways to set colors
   =========================================== */

/* TODO 2a: Style #main-title ID
   - Set color to blue
*/

/* TODO 2b: Style .tagline class
   - Set color to gray
*/

/* TODO 2c: Style .red-text class
   - Set color to red
*/

/* TODO 2d: Style .blue-background class
   - Set background-color to lightblue
   - Set padding to 10px
*/

/* TODO 2e: Style .fancy-colors class
   - Set color to green
   - Set background-color to lightcyan
   - Set padding to 8px
*/

/* ===========================================
   TODO 3: BACKGROUND COLORS
   Practice setting background colors
   =========================================== */

/* TODO 3a: Style .intro-section class
   - Set background-color to lightgray
   - Set padding to 15px
*/

/* TODO 3b: Style .highlight-text class
   - Set background-color to yellow
   - Set padding to 5px
*/

/* TODO 3c: Style #unique-box ID
   - Set background-color: lightgreen
   - Set padding to 20px
*/

/* ===========================================
   TODO 4: BORDER COLORS & PADDING
   Practice setting border colors and padding
   =========================================== */

/* TODO 4a: Style .padding-example class
   - Set border: 2px solid orange
   - Set padding to 15px
*/

/* TODO 4b: Style .creative-box class
   - Set border: 2px dashed pink
   - Set padding to 20px
*/

/* ===========================================
   TODO 5: FOOTER & HEADINGS
   Style the footer and headings
   =========================================== */

/* TODO 5a: Style .page-footer class
   - Set background-color to darkgray
   - Set color to white
   - Set padding to 25px
*/

/* TODO 5b: Style h2 elements
   - Set color to darkblue
   - Set padding to 8px
*/

/* ===========================================
   BONUS TODO: ADD YOUR OWN STYLES!
   Experiment with colors, backgrounds, borders, and padding
   =========================================== */

/* TODO BONUS: Create your own custom styles
   Try different:
   - Color names (red, blue, green, etc.)
   - Background colors
   - Border colors and styles
   - Padding values
   
   Write your experimental CSS below:
*/